.Modal {
    height: 100vh;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 1000;
    background: rgba(34,35,40,.72);
}

.ModalContent {
    background: #fff;
    max-width: 500px;
    height: auto;
    padding: 100px 40px 60px;
    position: relative;
}

.ModalHeading {
    text-align: center;
    color: rgb(85, 90, 110);
    margin-bottom: 40px;

    h2 {
        color: rgb(85, 90, 110);
    }
}

.ModalClose {
    position: absolute;
    top: 20px;
    right: 60px;

    &:before, &:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 33px;
        width: 2px;
        background-color: rgb(0, 78, 95);
    }

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}