.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    width: 100%;
    min-height: 300px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
}

.HeaderContent {
    max-width: 1300px;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;

    @media only screen and (max-width: 768px) {
        padding: 10px;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}

.HeaderPoster {
    display: block;
    min-width: 300px;
    width: 300px;
    height: 450px;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0,0,0,.5);
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: 768px) {
        min-width: 100px;
        width: 100px;
        height: 150px;
        margin-bottom: 20px;

        h1 {
            font-size: 1em;
        }
    }
}

.HeaderText {
    padding-left: 50px;

    @media only screen and (max-width: 768px) {
        padding: 0;
    }
}

.HeaderButton {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    padding: 10px 26px;
    border: none;
    color: rgba(255,255,255, 1);
    background: var(--genoma-color-primary-600);
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-right: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    text-decoration: none;

    @media only screen and (max-width: 768px) {
        margin: 10px 5px;
    }

    &:hover {
        cursor: pointer;
        box-shadow: none;
        color: rgb(255, 255, 255);
        background: rgb(0, 126, 153);
        border-color: rgb(0, 126, 153);
    }
}

.HeaderButtonFavourite {
    display: flex;
    align-items: center;
    font-size: 1em;
    margin: 12px 0;

    &:hover {
        cursor: pointer;
    }

    @media only screen and (max-width: 768px) {
        display: block;
    }
}

.HeaderButtonFavouriteOff {
    @extend .HeaderButtonFavourite;
    &:before {
        font-size: 2em;
        color: var(--genoma-color-negative-500);
        display: inline-block;
        content: '♥';
    }

    &:hover {
        cursor: pointer;

        &:before {
            content: '♡';
        }
    }
}

.HeaderButtonFavouriteOn {
    @extend .HeaderButtonFavourite;

    &:before {
        font-size: 2em;
        color: var(--genoma-color-negative-500);
        display: inline-block;
        content: '♡';
    }

    &:hover {
        cursor: pointer;

        &:before {
            content: '♥';
        }
    }
}

.HeaderButtonFavouriteHeart {
    color: var(--genoma-color-negative-500);
}