.Rating {
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    align-content: center;
    color: rgba(0,0,0,0.6);
    line-height: 1;
    border-radius: 2px;
    margin-right: 7px;
    border: 2px solid rgba(100.00%, 100.00%, 100.00%, 0.80);
    color: rgba(100.00%, 100.00%, 100.00%, 0.80);
    padding: 0.06em 4px 0.15em 4px;
    font-weight: 700;
}