.Cast {
    width: 100%;
    max-width: 1440px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
