.inputSearch {

    input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        min-height: 46px;
        padding: 11px 14px;
        color: #4d5055;
        font-size: 16px;
        line-height: 1.4;
        word-wrap: normal;
        background: #ffffff;
        border: 1px solid #d0d0d0;
        border-radius: 0;
        -webkit-appearance: none;
    }
}