.CastCard {
    margin: 20px;
    width: 200px;
    min-width: 200px;
    position: relative;

    &:first-of-type {
        margin: 20px 20px 20px 0;
    }
}

.ActorPicture {
    width: 100%;
    min-height: 200px * 1.5;
    height: 200px * 1.5;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.ActorName {
    display: block;
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}